#title-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: none;
    height: 150px;
    padding-top: 0;
}

#board-div {
    background: black;
    border: 5px solid red;
    margin-top: 30px; 
}

#logo {
    height: 285px;
    width: 285px;
    display: block;
    margin: auto;
}

.character-div {
    margin: auto; 
    display: block;
    font-family:  'Shojumaru', 'Arial', 'Helvetica', 'Sans Serif'; 
    font-family: 'Ceviche One', 'Arial', 'Helvetica', 'Sans Serif'; 
    color: yellow;
    text-align: center;
    font-size: 25px;
}

.character-name {
    color: yellow; 
    font-size: 30px; 
    padding: 5px; 
}

.character-image {
    height: 200px; 
    width: 150px;
    border-color: red;
    border-style: solid; 
    border-width: 5px;
    margin: auto; 
    display: block;
}

body {
    background: black;
    background-image: url("../images/characterbackground.gif"); 
    background-repeat: repeat-x; 
    background-position: center bottom; 
}

h1 {
    color: red;
    text-align: center;
    margin: auto;
    display: block;
    font-family:  'Shojumaru', 'Arial', 'Helvetica', 'Sans Serif'; 
    font-family: 'Ceviche One', 'Arial', 'Helvetica', 'Sans Serif'; 
    font-size: 40px;
}

#game-message {
    font-family:  'Shojumaru', 'Arial', 'Helvetica', 'Sans Serif'; 
    font-family: 'Ceviche One', 'Arial', 'Helvetica', 'Sans Serif'; 
    font-size: 60px;
    display: block; 
    margin: auto;
    color: red;
    padding-top: 20px; 
    padding-bottom: 20px; 
}

#play-message {
    font-family: 'Shojumaru', Arial, Helvetica, sans-serif; 
    color: orange; 
    display: block; 
    margin: auto; 
    padding-bottom: 20px; 
}

#versus {
    font-family:  'Shojumaru', 'Arial', 'Helvetica', 'Sans Serif'; 
    font-family: 'Ceviche One', 'Arial', 'Helvetica', 'Sans Serif'; 
    font-size: 40px;
    margin: auto;
    padding-top: 20px;
}

.mdtitle {
    font-family:  'Shojumaru', 'Arial', 'Helvetica', 'Sans Serif'; 
    font-family: 'Ceviche One', 'Arial', 'Helvetica', 'Sans Serif'; 
    font-size: 40px;
    margin: auto;
    padding-top: 40px;
}

button.btn.btn-danger {
    margin: auto;
    display: block;
}

button.btn.btn-dark {
    color: red; 
    padding: 5px;
    min-width: 50px; 
}

.health-display {
    background: black;
    text-align: center;
    color: orange; 
    font-family:  'Shojumaru', 'Arial', 'Helvetica', 'Sans Serif'; 
    font-family: 'Ceviche One', 'Arial', 'Helvetica', 'Sans Serif'; 
    font-size: 30px;
    padding: 15px; 
}

.health-points {
    border: 1px solid yellow; 
    padding-left: 5px; 
    padding-right: 5px; 
}

#attack-btn {
    margin-bottom: 15px;
}

.btn-danger {
    background-color: red;
    font-family: 'Shojumaru', 'Arial', 'Helvetica', 'Sans Serif'; 
    font-family: 'Ceviche One', cursive; 
    color: black;
    font-size: 25px;
}

#finish-him {
    height: 300px;
}

.btn.btn-warning {
    font-family: 'Shojumaru', 'Arial', 'Helvetica', 'Sans Serif'; 
    margin: auto; 
    display: block; 
}

.victory-text {
    margin: 5px; 
}

#flawless-image {
    height: 300px; 
    width: 300px; 
    display: block; 
    margin: auto; 
}